body{
  background-color: rebeccapurple;
}
.container-main{
  font-family: 'Notos sans', sans-serif;
  display: flex;
  align-content: stretch;
  height: 450px;
  width: 750px;
  margin: 38px auto auto;
  border: 3px solid #333333;
  /*
  border-top: 4px solid white;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid white;*/
}
.container-left{
  background-color: black;
  padding: 1em;
  display: flex;
  width: 30%;
  text-align: center;
  border: 4px solid #333333;
 /* background-image: url("/assets/david-hofmann.jpg");
  background-size: cover;
  background-position-x: -70px;*/
}
.container-right{
  background-color: #f6f6f6;
  border-left: 4px solid #333333;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
}
.container-title{
  align-self: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 34px;
  color: white;
}
.container-number{
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
}
.form-options{
  margin: 14px 0;
}
.form-checkbox{
  display: flex;
  align-self: center;
  justify-content: space-around;
  gap: 1em;
  font-family: 'Noto Sans', sans-serif;
}

.generate-button {
  border: solid 3px black;
  background-color: #eeeeee;
  font-family: "Noto Sans";
  font-size: 16px;
}

/*https://codepen.io/prof2k/pen/ZEGBrvX https://www.frontendplanet.com/css-range-slider-examples/*/
