<div class="container-main">
  <div class="container-left">
    <div class="container-number">
      .01
    </div>
    <h2 class="container-title">Génerateur de mot de passe</h2>
  </div>
  <div class="container-right">
    <app-blank-dash [numberOfDash]="passwordSize" [generatedPassword]="this.generatedPassword"></app-blank-dash>
    <app-slider-custom (valueChanged)="onSliderValueChanged($event)"></app-slider-custom>
    <div class="form-options">
      <div class="form-checkbox">
        <label for="specialChar"> presence de charactere speciaux si coché :</label>
        <input (click)="generatePasswordWithParam()" type="checkbox" [(ngModel)]="specialChars" id="specialChar" name="specialChar">
      </div>
      <div class="form-checkbox">
        <label for="upperCase"> presence de majuscule si coché :</label>
        <input (click)="generatePasswordWithParam()" type="checkbox" [(ngModel)]="upperCase" id="upperCase" name="upperCase">
      </div>
      <div class="form-checkbox">
        <label for="withNumbers"> presence de chiffre si coché :</label>
        <input (click)="generatePasswordWithParam()" type="checkbox" [(ngModel)]="withNumbers" id="withNumbers" name="withNumbers">
      </div>
    </div>

    <button class="generate-button" (click)="generatePasswordWithParam()">Generate Password</button>


<!--
    <div *ngIf="generatedPassword">
      <h3>Generated Password:</h3>
      <p>{{ generatedPassword }}</p>
    </div>
    -->
  </div>
</div>

